.navbar {
    height: 80px;
    background-color: rgb(69, 60, 60);
    display: flex;
    justify-content: space-between; /* Updated this line */
    align-items: center;
    padding: 0 20px; /* Add padding for better spacing from the edges */
}

.navbar h1 {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

/* Removed the text-align: left; for the navbar h1 */

.links {
    margin-right: 50px; /* Adjust if necessary, or remove if using padding on navbar */
    display: flex;
    align-items: center;
}

.links a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
